<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <pages>
            <namespaces>
                <add namespace="FubuMVC.Core.UI" />
                <add namespace="CodeCampOverflow.Controllers" />
                <add namespace="CodeCampOverflow.Models.Question" />
            </namespaces>
        </pages>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
